<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/videoone.png" />
  <link rel="prefetch" href="//mediaservice-fe.bytepluscdn.com/obj/vcloud-fe-sgcomm/video-one/DINCond-Black-Regular.otf"
    as="font" />
  <link rel="prefetch" href="//sf16-videoone.ibytedtos.com/obj/bytertc-platfrom-sg/cocacola.gif" as="image" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,
  maximum-scale=1.0, user-scalable=no, shrink-to-fit=no, viewport-fit=cover" />
  <title>Video One Demo Center</title>
</head>

<body>
  <div id="root"></div>
  <script type="module" src="/src/main.tsx"></script>
  <% if (isProd) { %>
    <script src="//sf16-unpkg-va.ibytedtos.com/react/18.2.0/umd/react.production.min.js"></script>
    <script src="//sf16-unpkg-va.ibytedtos.com/react-dom/18.2.0/umd/react-dom.production.min.js"></script>
    <% } %>
</body>

</html>