.popup {
  &__mask {
    position: fixed;
    inset: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0 0 0 / 50%);
    z-index: 99;
  }

  &__wrapper {
    position: fixed;
    z-index: 100;
    background: #fff;

    &--top {
      top: 0;
      left: 0;
      right: 0;
    }

    &--bottom {
      bottom: 0;
      right: calc(0px + env(safe-area-inset-right));
      right: calc(0px + constant(safe-area-inset-right));
      left: calc(0px + env(safe-area-inset-left));
      left: calc(0px + constant(safe-area-inset-left));
      border-radius: 5px 5px 0 0;
    }

    &--left {
      left: 0;
      top: 0;
      bottom: 0;
    }

    &--right {
      right: 0;
      top: 0;
      bottom: 0;
    }

    &--center {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    padding: 14px 16px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(22 24 35 / 7%);

    &__title {
      color: #0c0d0f;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }

    &__close {
      line-height: 24px;
      height: 24px;
      cursor: pointer;
    }
  }

  &__content {
    @media screen and (orientation: portrait) {
      max-height: calc(73vh - 52px);
    }

    @media screen and (orientation: landscape) {
      max-height: 185px;
    }

    overflow-y: scroll;
    padding: 0 12px;
  }
}

.top,
.bottom,
.center,
.left,
.right {
  &-enter {
    .popup__mask {
      opacity: 0;
    }

    &-active {
      .popup__mask {
        opacity: 1;
        transition: 0.3s all ease;
      }

      .popup__wrapper {
        transition: 0.3s all ease;
      }
    }
  }

  &-exit {
    .popup__mask {
      opacity: 1;
    }

    &-active {
      .popup__mask {
        opacity: 0;
        transition: 0.3s all ease;
      }

      .popup__wrapper {
        transition: 0.3s all ease;
      }
    }
  }
}

.bottom {
  &-enter {
    .popup__wrapper {
      transform: translate(0, 100%);
    }

    &-active {
      .popup__wrapper {
        transform: translate(0, 0);
      }
    }
  }

  &-exit {
    .popup__wrapper {
      transform: translate(0, 0);
    }

    &-active {
      .popup__wrapper {
        transform: translate(0, 100%);
      }
    }
  }
}

.top {
  &-enter {
    .popup__wrapper {
      transform: translate(0, -100%);
    }

    &-active {
      .popup__wrapper {
        transform: translate(0, 0);
      }
    }
  }

  &-exit {
    .popup__wrapper {
      transform: translate(0, 0);
    }

    &-active {
      .popup__wrapper {
        transform: translate(0, -100%);
      }
    }
  }
}

.left {
  &-enter {
    .popup__wrapper {
      transform: translate(-100%, 0);
    }

    &-active {
      .popup__wrapper {
        transform: translate(0, 0);
      }
    }
  }

  &-exit {
    .popup__wrapper {
      transform: translate(0, 0);
    }

    &-active {
      .popup__wrapper {
        transform: translate(-100%, 0);
      }
    }
  }
}

.right {
  &-enter {
    .popup__wrapper {
      transform: translate(100%, 0);
    }

    &-active {
      .popup__wrapper {
        transform: translate(0, 0);
      }
    }
  }

  &-exit {
    .popup__wrapper {
      transform: translate(0, 0);
    }

    &-active {
      .popup__wrapper {
        transform: translate(100%, 0);
      }
    }
  }
}

.center {
  &-enter {
    .popup__wrapper {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.7);
    }

    &-active {
      .popup__wrapper {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }

  &-exit {
    .popup__wrapper {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }

    &-active {
      .popup__wrapper {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.7);
      }
    }
  }
}
