.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-item {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
  }
}

.poster-hide {
  width: 100%;
  height: 100%;
  display: none;
  object-fit: cover;
  background: #000;
}

.poster-show {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  background: #000;
}

.right-slider {
  position: absolute;
  bottom: 16%;
  right: calc(14px + env(safe-area-inset-right));
  right: calc(14px + constant(safe-area-inset-right));
  display: flex;
  z-index: 10000;
}

.btns {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .avatar {
    border: 2px solid #fff;
    border-radius: 50%;
    margin-bottom: 20px;

    & > div {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }
  }

  .like,
  .comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-bottom: 14px;
  }
}

.bottom {
  position: absolute;
  bottom: calc(20px + constant(safe-area-inset-bottom));
  bottom: calc(20px + env(safe-area-inset-bottom));
  left: calc(12px + env(safe-area-inset-left));
  left: calc(12px + constant(safe-area-inset-left));
  right: calc(12px + env(safe-area-inset-right));
  right: calc(12px + constant(safe-area-inset-right));
  color: #fff;

  .name {
    font-size: 16px;
    line-height: 24px;
  }

  .boxMore {
    float: right;
    clear: both;
    color: #94c2ff;
    font-size: 14px;
    cursor: pointer;
    padding-left: 5px;

    & + div {
      line-height: 18px;
    }
  }

  .title-container {
    max-height: 50px;

    &::before {
      content: '';
      float: right;
      height: 21px;
      width: 0;
    }
  }

  .title-wrapper {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  .title {
    font-size: 14px;
    text-align: left;
    vertical-align: top;
  }
}

.caption-title {
  font-size: 14px;
  min-height: 300px;
  padding-top: 16px;
  line-height: 1.5;
}

.comment-content {
  .comment {
    // height: 60px;
    box-sizing: border-box;
    padding: 12px 0;
    display: flex;
    margin-bottom: 16px;

    .avatar {
      height: 36px;
      flex: 0 0 36px;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    .content-wrapper {
      display: flex;
      flex: 1;
      flex-direction: column;
      padding: 0 12px;

      .name {
        color: #80838a;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
      }

      .content {
        color: #020814;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 4px;
      }

      .time {
        color: #80838a;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
      }

      .operation {
        display: flex;

        .del {
          color: #4e5969;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 16px;
          display: flex;
          align-items: center;
          padding-left: 12px;
        }
      }
    }

    .like {
      flex: 0 0 32px; /* 固定宽度为50px */
      color: #80838a;
      text-align: center;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;

      &.un-like {
        svg path {
          fill: #fff !important;
          stroke: #888b90;
          stroke-width: 1.2px;
          stroke-linejoin: round;
        }
      }
    }
  }
}
