* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: calc(var(--vh, 1vh) * 100 - constant(safe-area-inset-bottom));
  height: calc(var(--vh, 1vh) * 100 - env(safe-area-inset-bottom));
  margin: 0;
  overflow: hidden;

  &.fullscreen {
    height: calc(var(--vh, 1vh) * 100);
  }
}

#root {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}
